

footer {
   
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgb(106,193,30);
    border-radius: 0px 0px 0 0;
    background-color: rgba(9, 36, 50,0.9);
    /*position: relative;*/
    bottom: 0;
    width: 99%;
    /*z-index: auto;*/
    height: 120px;
    color: white;
    /*margin-top: 1500px;*/
}

    footer p {
        padding-top:8px;
        font-size: 8px;
        color: white;
        padding-bottom: 10px;
        font-weight: bold;
        text-align: center;
        font-family:Graphik;
    }


  

